# ─── Datenbank ───
DATABASE_URL="postgresql://cg26:DEIN_PASSWORT@localhost:5432/companygames"
DB_PASSWORD="DEIN_PASSWORT"

# ─── NextAuth ───
NEXTAUTH_SECRET="generiere-mit-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# ─── Admin ───
ADMIN_PASSWORD="admin-passwort-hier"
